name: CI/CD for Portfolio

on:
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build Docker image
        run: docker build -t my-portfolio .

      - name: Run Docker container (test)
        run: docker run -d -p 8080:80 my-portfolio
      
